@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(230, 50%, 98%); }
